@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
   
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: #353535;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  overflow-x: hidden;
}

body {
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#pencil {
  height: 500px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  border-radius: 9px;
}

#pencil img {
  height: 425px;
}

#nav {
  display: flex;
}

#list {
  width: 30px;
  height: 30px;
  color: #ffffff;
}

#navegationItems {
  display: none;
}

#toogleNav {
  display: none;
}

#toogleNav ul {
  display: flex;
  list-style: none;
  display: flex;
  gap: 150px;
  justify-content: center;
}

#toogleNav ul li a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

#toogleNav ul li a:hover,
#toogleNav ul li a:focus,
#toogleNav ul li a:active {
  text-decoration: underline;
}

#navegationItems ul {
  display: flex;
  list-style: none;
  display: flex;
  gap: 150px;
  justify-content: center;
}

#navegationItems ul li a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

#navegationItems ul li a:hover,
#navegationItems ul li a:focus,
#navegationItems ul li a:active {
  text-decoration: underline;
}

#main-canvas {
  margin: 70px 0 20px 0;
  background-color: #454545;
  border-radius: 9px;
}

